@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mukta:wght@200;300&family=Patrick+Hand&display=swap');/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
/* GLOBAL */

*{
  scroll-behavior: smooth;

}

body{
  margin: 0;
}

.dark{
background-color: black;
}

.light-background{
  background-color: #D9D9D9;
}

.qvote{
font-style: italic;
color: white;
text-align: center;
font-weight: 300;
/* PROVA DENNA FONTEN, DEN ÄR GRYM 
font-family: 'Bebas Neue', cursive; */
font-family: 'Mukta', sans-serif;
margin: 25px 10px;
}

.black{
  color: black;
}

.light{
  color: white ;
}

.large{
font-size: 50px;
letter-spacing: 2.5px;
}

.tiny{
font-size: 16px;
font-weight: 300;
}

.mini{
  font-size: 12px;
  font-weight: 300;
}

.to-qvote{
  text-align: end;
  margin-top: 10px;
}

.bold-title{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 900;
  margin-left: 5px ;
  margin-right: 5px;
  text-align: center;
}

.letter-spacing{
  letter-spacing: 1px;
}

.small-title{
 font-size: 18px;
 font-weight: 500;
 font-family: 'Noto Sans JP', sans-serif;
 letter-spacing: 1.3px;
 text-align: center;
}

p{
  font-family: 'Noto Sans JP', sans-serif;
}

.p20{
font-size: 20px;
}

.p18{
font-size: 18px;
}

.button{
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  background-color: #F11508 ;
  width: 230px;
  height: 51px;
  border-radius: 4px ;
  font-family: 'Noto Sans JP', sans-serif;
  border: none ;
  margin: 50px;
  cursor: pointer;
}

.dark-theme{
  background-color: black;
  color: white;
  padding: 100px 0;
}

.thin-paragraf{
  font-size: 17px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
  letter-spacing: .5px;
}

.paragraf{
  font-size: 17px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: .5px;
  text-align: center;
  margin: 40px;
  width: 50vw;
}

.section-padding{
  padding: 100px 0;
}

.line{
  width: 90vw;
  height: 1px;
  background-color: #626262;
  margin: 100px;
}

.none{
  display: none;
}

/* ----------------------------------- NAV ------------------------------ */

nav{
  background-color: black;
  margin: 0;
  position: fixed;
  height: 40px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#company-name{
color: white ;
margin-left: 35px ;
font-family: 'Mukta', sans-serif;
font-weight: 300;
letter-spacing: 2px;
}

#burger-menu{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  right: 0;
  width: 0px;
  max-width: 70vw;
  background-color: #1c1c1c;
  opacity: .9;
  height: 100vh;
  transition-duration: .7s;
  padding-top: 60px ;
  overflow: hidden;
}

.burger-title{
  font-size: 26px;
  margin: 40px 0;
}

#burger-div-wrapper{
  position: absolute;
  right: 38px;
  z-index: 10;
}

#menu-logo{
  width: 200px;
  height: 100px;
  max-width: 70vw;
  max-height: 30vh;
  background-color: aliceblue;
  
}

#burger-menu a{
  text-decoration: none;
}


/* FIRST SECTION */


#first-section{
height: 100vh;
display: flex;
align-items: center;
flex-direction: column;

}

#big-logo{
  width: 300px;
  height: 200px;
  max-width: 70vw;
  max-height: 30vh;
  background-color: aliceblue;
  margin: 20vh 0 50px 0;
  }

.arrow-down{
}


/* OFFER SECTION */

#offer-section{
  background: rgb(255,255,255);
  background: linear-gradient(132deg, rgba(255,255,255,1) 0%, rgba(153,163,24,1) 99%);}

#offer-text-div{
  width: 70vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}



/* PRINCIPLES SECTION */

.p-next-each-other-div{
display: flex;
width: 60vw;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
margin: 70px;
}

.more-margin{
margin: 70px;
}

.section-center{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.principle-p{
  max-width: 60%;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 35px;
}


/* BOXES SECTION */

.box-wrapper{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.box{
display: flex;
color: black;
flex-direction: column;
background-color: #D9D9D9;
text-align: center;
width: 25vw;
min-width: 285px ;
min-height: 265px;
padding: 40px 30px 40px 30px ;
margin: 50px;
border-radius: 4px;
}


/* ERBJUDANDEN */

.offer-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #bfbfbf;
  border-radius: 4px;
  padding: 5px 70px;
  margin: 70px 30px;
}

.more-space{
  width: 90vw; 
}

.offer-text-article{
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.offer-text-div{
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px;

}

.offer-text-p{
  font-size: 17px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 30px;
  text-align: center;
  margin: 40px;
}

.more-h-div{
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
}


/* MORE HOWERS */

#extra-h{
  height: 0px;
  overflow: hidden;
  padding: 0px 0;
  transition-duration: .6s;
}


/* Contact section */

#contact-section{
  font-family: 'Noto Sans JP', sans-serif;
}

.checkbox-list-wrapper,
.inputs input,
#form-article textarea{
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1px;
}

#form-article input, 
#form-article textarea, 
.checkbox{
  margin: 10px ;
  border-radius: 4px;
}

#form-article input, 
.checkbox{
 height: 49px;
}

.inputs input,
#form-article textarea{
  padding-left: 13px ;
  font-weight: 300;
  background-color: #D9D9D9;

}

.checkbox-list{
  display: flex;
  flex-direction: column;
}

.form-checkbox{
  width: 17px;
}

#form-article form{
  display: flex;
  flex-direction: column;
}

#form-article{
  width: 45vw;
  min-width: 357px ;
}

.checkbox-list-wrapper{
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.checkbox{
  display: flex;
  align-items: center;
  font-weight: 100;
}


.inputs{
  display: flex;
  justify-content: space-between;
}

.inputs input{
  width: 45% ;
}

.second-checklist-column{
  align-items: flex-end;
}



#form-article textarea{
  padding-top: 10px ;
}


.form-btn{
  margin: 10px 10px 140px 10px;
  width: calc(100% - 19px);
}


#contact-info-article{
  margin-top: 140px;
  font-weight: 100;
  letter-spacing: 1px;
}

#contact-info-article a{
  color: white;
}

.info-with-space{
display: flex;
align-items: center;
justify-content: space-between;
width: 20vw;
max-width: 400px;
min-width: 326px ;
margin: 15px 0;

}

.icons{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 45px 0;
}

.icon{
  font-size: 32px;
  cursor: pointer;
}


/* ---------------------------- LOADER ANIMATION ------------------------------ */


/* Till message sent */

.loader-modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  max-width:  100vw;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition-duration: 0.4s ;
  display: none;
}

.modal-loader-wrapper{
  display: block;
  height: 45px;
  width: 45px;
  background-color: rgb(245, 245, 245);
  position: relative;
  border: solid 2px gray;
  border-radius: 10px;
  border-radius: 50%;
  border-top: solid 2px black;
}

.modal-loader-wrapper-animation{
  animation: spinner 2s linear infinite;
}

.done-text-div{
  opacity: 0;
transition-duration: 0.4s;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.done-text{
  opacity: 0;
margin: 0;
color: green;
transition-duration: 0.4s;
}


.modal-loader-new-animation{
  animation: done 0.4s ease-in-out ;
  animation-fill-mode: both;
}


/* Till icon */

.check-icon{
  font-size: 31px;
  color: green;
}

.fail{
  color: red !important;
}


@keyframes messageFail {
  10%{
    border: solid 2px gray;
    }
    100%{
      border: solid 2px red;
      border-radius: 20px;
      width: 700px;
      
    }
}

@keyframes done {
  10%{
  border: solid 2px gray;
  }
  100%{
    border: solid 2px green;
    border-radius: 20px;
    width: 360px;
    
  }

}


@keyframes spinner {
  to { transform: rotate(360deg); }
}

.loader-wrapper{
  height: 45px;
  width: 275px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-wrapper-done{
  height: 90px;
  width: 275px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.done-modal-div{
  display: flex;
  align-items: center;
}

.modal-wrapper-done h1{
  margin: 5px;
}

.check-icon{
  font-size: 31px;
  color: green;
}

.fail{
  color: red !important;
}


/* -------------------------- @MEDIA SCREEN ----------------------------------- */

@media screen and (max-width: 1200px) {
  .large{
    font-size: 30px;
  }

  .to-qvote{
    text-align: center;
    font-size: 14px;
    margin-top: 15px ;
  }

  #company-name{
    margin-left: 15px;
  }

    #offer-text-div{
      width: 90vw;
      margin: 0 5vw;
    }

    .more-margin{
      margin: 30px 0;
    }

    .p-next-each-other-div{
      justify-content: center;
      width: 70vw;
    }

    .principle-p {
    max-width: 100%;
    }

    .paragraf{
      width: 90%;
    }

    .offer-text-div{
      width: 80%;
    }

    .checkbox{
      font-size: 13px;
      margin: 3px;
    }

    .inputs input, 
    #form-article textarea{
      font-size: 18px;
    }
    
    .offer-text-p{
      margin-right: 0;
      margin-left: 0;
    }

    .margin-sides{
      margin-left: 20px;
      margin-right: 20px;
    }

    .box{
      margin-left: 0;
      margin-right: 0;
    }

   

}